* {
	background: fixed #000000;
	display: inline-block;
	line-height: 0px;
	white-space: pre;
	font-family: "Helvetica";
	font-size: 0px;
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
	cursor: default;
	position: relative;
	text-align: center;
	color: #000000;
	font-weight: normal;
}

div {
	background-color: transparent;
}

html, body {
	width: 100%;
	height: 100%;
}

body { background: linear-gradient(-45deg, #2F1F3F 0%, #2F1F3F 12.5%, #1F0F2F 12.5%, #1F0F2F 37.5%, #2F1F3F 37.5%, #2F1F3F 62.5%, #1F0F2F 62.5%, #1F0F2F 87.5%, #2F1F3F 87.5%, #2F1F3F 100%); }

button, input[type=text] { outline: solid 2px #4F3F5F; }
button { background-color: #3F3F5F; color: #1F1F3F }
button:hover { color: #0F0F2F; outline-color: #3F2F4F;}
button:active { outline-color: #2F1F5F;}
input[type=text] { background-color: #3F3F5F; color: #0F0F2F }
input[type=text]:hover { outline-color: #3F2F4F;}

*[f=f16] { font-size: 16px; line-height: 20px; }
*[f=f32] { font-size: 32px; line-height: 40px; }
*[f=f48] { font-size: 48px; line-height: 60px; }
*[f=f64] { font-size: 64px; line-height: 80px; }

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table { display: table; }
tbody { display: table-row-group; }
tr { display: table-row; }
th, td { display: table-cell; }
