* {
	background: fixed #000000;
	display: inline-block;
	line-height: 0px;
	white-space: nowrap;
	font-family: "Helvetica";
	font-size: 0px;
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
	cursor: default;
	position: relative;
	vertical-align: top;
	text-align: center;
	color: #000000;
	font-weight: normal;
	overflow: show;
}

div {
	background-color: transparent;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: repeating-linear-gradient(-45deg, #2F1F3F 0%, #2F1F3F 12.5%, #1F0F2F 12.5%, #1F0F2F 37.5%, #2F1F3F 37.5%, #2F1F3F 50%);
	text-align: left;
}

*[f=f16] { font-size: 12px; line-height: 16px; color: #1F1F3F; }
*[f=f24] { font-size: 18px; line-height: 24px; color: #1F1F3F; }
*[f=f32] { font-size: 24px; line-height: 32px; color: #1F1F3F; }
*[f=f40] { font-size: 30px; line-height: 40px; color: #1F1F3F; }
*[f=f48] { font-size: 36px; line-height: 48px; color: #1F1F3F; }
*[f=f64] { font-size: 48px; line-height: 64px; color: #1F1F3F; }

button, input[type=text], option, select {
	outline: solid 2px #4F3F5F;
	background-color: #4F4F6F;
}

button:hover, input[type=text]:hover, option:hover, select:hover {
	outline-color: #3F2F4F;
}

button:hover, input[type=text], option, select {
	color: #0F0F2F;
}

button:active {
	outline-color: #2F1F5F;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ul {
	list-style-type: none;
}

table, ul {
	background-color: #9F9FBF;
}

tr:nth-child(odd), li:nth-child(odd) {
	background-color: #9F9FDF;
}

thead th, tr:nth-child(even), li:nth-child(even) {
	background-color: #7F7FBF;
}

ul, th, td {
	color: #1F1F1F;
}

th {
	font-weight: bold;
}

th, td {
	background-color: transparent;
}

table, ._table { display: table; table-layout: fixed; }
tbody, thead { display: table-row-group; }
tr, ._row { display: table-row; }
th, td, ._cell { display: table-cell; }
li { display: list-item; }

#roomList, #userList {
	margin: 16px;
	background-color: #6F6F9F;
	overflow-y: auto;
}

#browseButtons {
	margin: 16px;
	margin-top: 0px;
}

#game {
	margin: 16px;
	margin-left: 0px;
}

#dchath {
	outline: solid 2px #4F3F5F;
	background-color: #6F6F8F;
}

#dchati, #dchath {
	text-align: left;
}
