* {
	background: fixed #000;
	display: inline-block;
	line-height: 0px;
	white-space: nowrap;
	vertical-align: top;
	font-family: Consolas;
	font-size: 0px;
	font-weight: 0;
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
	cursor: default;
	overflow: hidden;
	position: relative;
}

html, body { width: 100%; height: 100%; }
head { display: none; }
body { background-color: #EEE; }

br { line-height: 20px; }
div { background-color: #DDD; }

span {
	background-color: transparent;
	color: #888;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
}
span.big {
	height: 40px;
	line-height: 40px;
	font-size: 40px;
}
span.center {
	text-align: center;
}

input {
	line-height: 20px;
	font-size: 20px;
	color: #eee;
	padding-left: 2px;
	padding-right: 2px;
}
input, button {
    height: 20px;
	width: 128px;
	background-color: #444;
}
input:hover, button:hover { background-color: #474747; }
input:active, button:active { background-color: #555; }

::-webkit-input-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }
:-moz-placeholder { color: #666; opacity: 1; }
::-moz-placeholder { color: #666; opacity: 1; }

::selection { background-color: transparent; }
::-moz-selection { background-color: transparent; }