body {
	background-color : #cccccc;
	margin : 0px;
	height : 100%;
}
.title {
	color : #008000;
	font-size : 30pt;
	text-align : center;
	margin : 20px;
	height : 50px;
}
.chat {
	padding : 5px;
	margin : 10px;
	font-size : 10pt;
	border : 2px;
	border-color : #000000;
	border-style : solid;
	display : inline-block;
	width : calc(100% - 34px);
	background-color : #ffffff;
	height : calc(90% - 200px);
	overflow-y : auto;
}
#message {
	width : calc(85% - 180px);
}
#name {
	width : 15%;
}
#nameText {
	width : 47px;
}
#messageText {
	width : 65px;
}
#button {
	width : 50px;
}
#send {
	margin : 10px;
	height : 10px;
}
span {
	display : inline-block;
}
* {
	white-space: nowrap;
	font-family : Monospace;
}